/*Reset borders*/
        	* {
        		box-sizing: content-box !important;
        	}

        	/*Basic Styling for the texts and sections*/
        	h1 {
        		font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			    font-weight: bold;
			    color: #646464;
			    margin-bottom: 10px;
			    font-size: 30px;
        	}

        	.compare {
        		border: 1px solid black;
        		height: auto;
        		padding: 10px;
        		line-height: 100%;
        	}

        	.compare-left {
        		float: left;
        	}

        	.compare-right, .settings {
        		float: right;
        	}

        	.content-width {
        		display: block;
        		margin-right: 20px;
        		float: left;
        	}

        	.search-width {
        		width: 200px;
        	}

        	.search-width-left {
        		float: left;
        	}

        	.search-input {
        		height: 29px;
        		padding-left: 5px;
        	}

        	.content-font {
        		font-size: 30px;
        	}

        	.content-width_button {
        		width: 200px;
        	}

        	/*Graph style*/
        	.graph {
        		width: 820px;
        		height: auto;
        	}
        	/* Resets */
        	.graph-container,
			.graph-container div,
			.graph-container a,
			.graph-container span {
			    margin: 0;
			    padding: 0;
			}

			/* Gradinet and Rounded Corners */
			.graph-container, #tooltip, .graph-info a {
			    background: #ffffff;
			    background: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
			    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f9f9f9));
			    background: -webkit-linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
			    background: -o-linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
			    background: -ms-linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
			    background: linear-gradient(to bottom, #ffffff 0%,#f9f9f9 100%);
			 
			    -webkit-border-radius: 3px;
			    -moz-border-radius: 3px;
			    border-radius: 3px;
			}

			/* Graph Container */
			.graph-container {
			    position: relative;
			    width: 750px;
			    height: 400px;
			    padding: 30px;
			 	float: left;
			    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.1);
			    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,.1);
			    box-shadow: 0px 1px 2px rgba(0,0,0,.1);
			    line-height: inherit;
			    font-size: inherit;
			}
			 
			.graph-container > div {
			    position: absolute;
			    width: inherit;
			    height: inherit;
			    top: 10px;
			    left: 25px;
			}
			 
			.graph-info {
			    width: 590px;
			    margin-bottom: 10px;
			}

			.graph-info a {
			    position: relative;
			    display: inline-block;
			    
			    height: 20px;
			    padding: 7px 10px 5px 30px;
			    margin-right: 10px;
			    text-decoration: none;
			    cursor: default;
			}

			/* Color Circles */
			.graph-info a:before {
			    position: absolute;
			    display: block;
			    content: '';
			    width: 8px;
			    height: 8px;
			    top: 13px;
			    left: 13px;
			    -webkit-border-radius: 5px;
			    -moz-border-radius: 5px;
			    border-radius: 5px;
			}
			 
			.graph-info .firstemployee { border-bottom: 2px solid #71c73e; }
			.graph-info .secondemployee { border-bottom: 2px solid #77b7c5; }
			 
			.graph-info .firstemployee:before { background: #71c73e; }
			.graph-info .secondemployee:before { background: #77b7c5; }

			/* Lines & Bars Buttons */
			#lines, #bars {
			    width: 60px;
			    height: 40px;
			    padding: 2px 3px 2px 0px;
			    margin-right: 0;
			    margin-left: 10px;
			    border-bottom: 2px solid #71c73e;
			    float: right;
			    cursor: pointer;
			}
			 
			#lines.active, #bars.active {
			    background: #82d344;
			    background: -moz-linear-gradient(top, #82d344 0%, #71c73e 100%);
			    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#82d344), color-stop(100%,#71c73e));
			    background: -webkit-linear-gradient(top, #82d344 0%,#71c73e 100%);
			    background: -o-linear-gradient(top, #82d344 0%,#71c73e 100%);
			    background: -ms-linear-gradient(top, #82d344 0%,#71c73e 100%);
			    background: linear-gradient(to bottom, #82d344 0%,#71c73e 100%);
			}
			 
			#lines span, #bars span {
			    display: block;
			    width: 60px;
			    height: 40px;
			    line-height: 40px;
			    padding: 1px;
			}
			 
			#bars span {; }
			 
			#lines.active span {
				background-color: green;
				color: white;
			}
			 
			#bars.active span { 
				background-color: green;
				color: white; 
			}

			/* Clear Floats */
			.graph-info:before, .graph-info:after,
			.graph-container:before, .graph-container:after {
			    content: '';
			    display: block;
			    clear: both;
			}

			#tooltip, .graph-info a {
			    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			    font-weight: bold;
			    font-size: 12px;
			    line-height: 20px;
			    color: #646464;
			}
			 
			.tickLabel {
			    font-weight: bold;
			    font-size: 12px;
			    color: #666;
			    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
			}

			.yAxis .tickLabel:last-child { 
				display: none; 
			}

			#tooltip {
			    position: absolute;
			    display: none;
			    padding: 5px 10px;
			    border: 1px solid #e1e1e1;
			}

			/*Responsive designs*/
			@media screen and (max-width: 990px) {
				.compare-right {
					float: left;
				}

				.compare-left {
					margin-bottom: 10px;
				}

				.graph-container {
					width: 650px;
					height: 350px;
				}

				.graph {
					width: 720px;
				}
			}

			@media screen and (max-width: 803px) {
				.graph-container {
					width: 500px;
					height: 260px;
					padding: 10px;
				}

				.graph {
					width: 570px;
				}

				.graph-info {
					width: 500px;
				}
			}

			@media screen and (max-width: 601px) {
				.graph-container {
					width: 450px;
					height: 210px;
					padding: 10px;
				}

				.graph {
					width: 400px;
				}

				.graph-info {
					width: 400px;
				}
			}

			@media screen and (max-width: 551px) {
				.content-width {
					margin-bottom: 10px;
				}
			}
